html {
  background: #ff11ff 1F;
}
body {
  width: 60%;
  margin: 1em auto;
}
div[role=main] {
  padding: 1em;
  background: #FFF;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  margin: 0 auto;
  box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
}
div[role=main] img {
  position: relative;
  width: 100%;
}
footer {
  text-align: center;
  font-size: 0.75em;
}
h1 {
  text-align: center;
  font-size: 3em;
  margin: 0.5em 0 0 0;
  padding: 0;
  color: rgba(225, 55, 56, 0.9);
}
.navbar {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0.5em 0 0.67em 0;
  text-align: center;
}
.navbar li {
  display: inline-block;
  margin: 0 0.5em;
}
.navbar li a {
  font-size: 1.5em;
  text-decoration: none;
  color: #737373;
}
